<!DOCTYPE html>
<html>
<head>
<title>礼品表</title>
<#include "/header.html">
</head>
<body>
	<div id="rrapp" v-cloak>
		<div v-show="showList">
			<div class="grid-btn">
				<#if shiro.hasPermission("bizgift:save")> <a
					class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
				</#if>
				<#if shiro.hasPermission("bizgift:update")> <a
					class="btn btn-primary" @click="update"><i
					class="fa fa-pencil-square-o"></i>&nbsp;修改</a> </#if>
				<#if shiro.hasPermission("bizgift:delete")> <a
					class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
				</#if>
			</div>
			<table id="jqGrid"></table>
			<div id="jqGridPager"></div>
		</div>

		<div v-show="!showList" class="panel panel-default">
			<div class="panel-heading">{{title}}</div>
			<form class="form-horizontal">
				<div class="form-group">
					<div class="col-sm-2 control-label">礼品名称</div>
					<div class="col-sm-10">
						<input type="text" class="form-control" v-model="bizGift.giftName"
							placeholder="礼品名称" />
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-2 control-label">别名</div>
					<div class="col-sm-10">
						<input type="text" class="form-control" v-model="bizGift.nickname"
							placeholder="别名" />
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-2 control-label">积分兑换价</div>
					<div class="col-sm-10">
						<input type="text" class="form-control"
							v-model="bizGift.exchangePrice" placeholder="积分兑换价（1积分为单位）" />
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-2 control-label">数量</div>
					<div class="col-sm-10">
						<input type="text" class="form-control" v-model="bizGift.total"
							placeholder="数量" />
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-2 control-label">简要描述</div>
					<div class="col-sm-10">
						<input type="text" class="form-control"
							v-model="bizGift.simpleDescribe" placeholder="简要描述" />
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-2 control-label">上架标志 </div>
					<label class="radio-inline"> <input type="radio"
						name="type" value="0" v-model="bizGift.isMarketable" />未上架
					</label> <label class="radio-inline"> <input type="radio"
						name="type" value="1" v-model="bizGift.isMarketable" />已上架
					</label>
				</div>
				<div class="form-group">
					<div class="col-sm-2 control-label"></div>
					<input type="button" class="btn btn-primary" @click="saveOrUpdate"
						value="确定" /> &nbsp;&nbsp;<input type="button"
						class="btn btn-warning" @click="reload" value="返回" />
				</div>
			</form>
		</div>
	</div>

	<script
		src="${request.contextPath}/statics/js/modules/generator/bizgift.js?_${.now?long}"></script>
</body>
</html>