<!DOCTYPE html>
<html>
<head>
<title>礼品兑换</title>
<#include "/header.html">
</head>
<body>
	<div id="rrapp" v-cloak>
		<div v-show="showList">
			<div class="grid-btn">
 				<#if shiro.hasPermission("bizgift:exchange:save")> <a
					class="btn btn-primary" @click="exchange"><i class="fa fa-plus"></i>&nbsp;兑换</a>
				</#if>
			</div>
			<table id="jqGrid"></table>
			<div id="jqGridPager"></div>
		</div>

		<div v-show="!showList" class="panel panel-default">
			<div class="panel-heading">{{title}}</div>
			<form class="form-horizontal">
				<div class="form-group">
					<div class="col-sm-2 control-label">礼品名称</div>
					<div class="col-sm-10">
						<input type="text" class="form-control" v-model="bizGift.giftName" readonly="readonly"
							placeholder="礼品名称" />
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-2 control-label">别名</div>
					<div class="col-sm-10">
						<input type="text" class="form-control" v-model="bizGift.nickname" readonly="readonly"
							placeholder="别名" />
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-2 control-label">积分兑换价</div>
					<div class="col-sm-10">
						<input type="text" class="form-control"
							v-model="bizGift.exchangePrice" placeholder="积分兑换价" readonly="readonly" />
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-2 control-label">简要描述</div>
					<div class="col-sm-10">
						<input type="text" class="form-control"
							v-model="bizGift.simpleDescribe" placeholder="简要描述" readonly="readonly" />
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-2 control-label">剩余数量</div>
					<div class="col-sm-10">
						<input type="text" class="form-control" v-model="bizGift.total" readonly="readonly"
							placeholder="礼品剩余数量" />
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-2 control-label">剩余积分</div>
					<div class="col-sm-10">
						<input type="text" class="form-control" v-model="bizGift.integralBalance" readonly="readonly"
							placeholder="剩余" />
					</div>
				</div>	
				<div class="form-group">
					<div class="col-sm-2 control-label">兑换数量</div>
					<div class="col-sm-10">
						<input type="text" class="form-control" v-model="bizGift.count"
							placeholder="兑换数量" />
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-2 control-label">积分账户密码</div>
					<div class="col-sm-10">
						<input type="password" class="form-control" v-model="bizGift.password"
							placeholder="密码" />
					</div>
				</div>														
				<div class="form-group">
					<div class="col-sm-2 control-label"></div>
					<input type="button" class="btn btn-primary" @click="saveExchange"
						value="确定" /> &nbsp;&nbsp;<input type="button"
						class="btn btn-warning" @click="reload" value="返回" />
				</div>
			</form>
		</div>
	</div>

	<script
		src="${request.contextPath}/statics/js/modules/generator/exchangegift.js?_${.now?long}"></script>
</body>
</html>